@import url("fonts/font.css");

:root {


    --primary: #03045e;
    --junior:#197278;
    --senior:#C44536;
    --secondary:#E08A1E;
    --bright:#E84B23;
    --backdrop:#E6E6E6;
    --dark:#3F3F3F;
    --white:#FFFFFF;
    --slate:#f8fafc;
    --teal:#f9fafb;


    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

}
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    max-width: 1280px;
    margin: auto;
    color: black;


}

h1, h2,h3,h4,h5,h6{
    font-weight: 500;


}
h1{
   font-weight: 800;
    font-size: 48px;
}
h6{
    color: var(--primary);
}
p{
    color: #3F3F3F;
    font-weight: 500;
}
hr{
    background-color: var(--dark);
    opacity: 0.1 !important;
}
span{
    color: var(--junior);
}
a{
    color: var(--junior);
}
a:hover{
    color: var(--bright);
}
#convert{
  position: fixed;
  top: -60px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999;
  background-color:var(--teal);


}
.cv-conversion{

    background-color: var(--teal);
}
.cv-conversion h1{
    font-family: 'Assistant';
    font-size: 45px;
}
.cv-conversion p{
    color: black;
    font-size: 20px;
    line-height: 48px;



}
.pro-cv{
    background-color: rgba(25, 114,120, 0.1);


}
.pro-cv h2{
    color: var(--primary);
    font-family: 'Assistant';
    font-size: 20px;
    font-weight: 600;

}

.cv-conversion .btn-link{
    color: var(--primary);
}

/*Navbar*/
.navbar-brand h2{
    color: var(--primary);
    font-weight: 800 !important;
    font-family: 'Assistant', sans-serif;

}
.nav-link,.navbar-nav .nav-item .nav-link{
    color: black;
    font-weight: 600;
}
.nav-link:hover,.navbar-nav .nav-item .nav-link:hover{
    color: var(--primary);
}
@media screen and (min-width:820px){
    .big-menu{
        display: block;
    }
    .small-screen{
        display: none;
    }
}
@media screen and (max-width:819Px){
    .small-screen{
        display: block;
    }
    .big-menu{
        display: none;
    }
}
.smaller .nav .nav-item .nav-link{
    font-weight: normal;
    font-size: 20px;
}
label{
  font-weight:500;
}
.error{
    color:red;
}
input[type=text],input[type=email],input[type=password],input[type=search]{
    border-radius: 5px!important;
    height: 45px;
    color: var(--dark) !important;

}
input[type=text]:focus,input[type=email]:focus, select:focus,input[type=search]:focus{
    box-shadow: none !important;
}

select {
    background-color: white !important;
    height: 45px;


}
input[type=radio]{
    border: 1px solid black;
}
input[type=radio]:checked{
    border: 1px solid var(--primary);
    background-color: var(--primary) !important;
    box-shadow: none;
}

.form-check h6{
    color: var(--dark);
    text-transform: uppercase;

}
.form-check{
    width: auto !important;
    border: 2px dashed white;
}
.company input[type=radio]{
    display: none;
}
.checked11{
    border: 2px dashed var(--primary);
 }

.ck-editor__editable {
    min-height: 500px;
}
.ck-content .text-tiny {
    font-size: 0.7em;
}

.ck-content .text-small {
    font-size: 0.85em;
}

.ck-content .text-big {
    font-size: 1.4em;
}

.ck-content .text-huge {
    font-size: 1.8em;
}


::placeholder {
    font-size: 18px !important;
    font-weight: 100 !important;
}


/*----Buttons---*/
.btn{
    text-align: center;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 8px 15px 8px 15px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;


}
.btn:focus{
    box-shadow: none;
}
.btn-link{
    color: var(--junior);
    border: none;
    background: none;

}
.btn-link:hover{
    color: var(--senior);
}
.btn-primary{
    background: rgba(3, 4,100, 1);
    color: white;
    border: none;
}

.btn-primary:hover{
    background: rgba(3, 4,100, 0.8);
    color: white;

}
.btn-outline-primary{
    background: none;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-outline-primary:hover{

    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}
.btn-junior{
    background: var(--junior);
    color: white;
    border: 1px solid var(--junior);
}
.btn-junior:hover{

    background-color:rgba(25, 114,120, 0.8);;
    color: white;
    border: 1px solid var(--junior);
}
.btn-secondary, .btn-secondary::after{
    background: rgba(25, 114,120, 0.2);
    color: var(--junior);
    border: none !important;
}
.btn-secondary:hover{

    background:rgba(224, 138,30, 0.2);
    color: var(--secondary);
    border: none!important;
}
.btn-outline-secondary{
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 0px !important;
    font-size: 18px;
}
.btn-outline-secondary:hover{
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0px !important;
}
.btn-view{
    background:rgba(224, 138,30, 0.2);
    color: var(--secondary);
    border: none!important;
}
.btn-view:hover{
    background: rgba(25, 114,120, 0.2);

    color: var(--junior);
    border: none !important;
}
.btn-danger{
    background: red;
    color: white;
    border: none;
}
/*homepage*/
.intro{
    background-color: var(--slate);
}
.intro h1{
    font-weight: 900;
    font-family: 'Assistant';
    font-size:42px;
}
.opportunity{
    font-weight: 900;
    font-family: 'Assistant';
    font-size:42px;
}

.section-header{
    font-weight: 900;
    font-family: 'Assistant';
    font-size:28px;

}
.access{
    color: var(--dark);
    font-size: 26px !important;
}
.trending{
    border-radius: 8px;
    min-height: 320px;
}
.trending:hover{
    border: 1px solid var(--primary);
}
.trending .title{
    color: var(--dark);
    font-size: 22px;
    font-weight: 600;
}
.trending:hover .title{
    text-decoration: underline;
}
.trending .addition p{
    color: black;
}
.companies h4{
    color: var(--dark);

}
.companies:hover h4{
    text-decoration: underline;
}
.companies p{

    font-size: 18px;
}
.companies:hover p{
    color: var(--primary);
}
.subscribe ul li{
    color: var(--dark);
}
.sign{
    background-color:var(--slate) ;
}
/*homepage after login*/
.home{
    background-color: var(--slate);
}
.profile-company h4{
    color: black;
}
.profile-company .card:hover{
    border: 1px solid var(--primary);
}
/*jobs page*/
.hunt{
    background-color: var(--slate);
}
.hunt .nav .active{
    text-decoration: underline;
}
.counter{
    background-color: rgba(2,144,161,0.1);
}


#sort-select:focus,  #sort-select:hover{
    box-shadow: none;
}
.job-card{
    border-radius: 10px;
    min-height: 150px;
}
.job-card:hover{
    border: 1px solid var(--primary);
}
.profile-company .card{
    min-height: 150px;
}
.job-card h2{

    font-size: 18px;
    color: var(--junior);
    font-weight: 700;
}
.job-card small{
    font-size: 16px;
    margin: 4px;
    font-weight: 500;
    color: var(--primary);
}
/*admin styles*/
.admin-nav .nav-link{
    color: var(--primary);
}
.folders a{
    color: var(--primary);
    text-decoration: none;
}
.folders a:hover{
    color: var(--bright);
}
.profile-change{
    background-color: var(--primary);
    color: white;
}
/*------multi-step registration---*/
.display-none {
    display: none;
}
.multi-wizard-step p {
    margin-top: 12px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    position: relative;
    width: 100%;
}
.multi-wizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 1px;
    z-order: 0;
    position: absolute;
    background-color: #fefefe;
}
.multi-wizard-step {
    text-align: center;
    position: relative;
    display: table-cell;
}
.btn-step{
    box-shadow: none;
    border: none;
    width: 90%;
    height: 60px;
}
.btn-step:hover{
    background:rgba(224, 138,30, 0.2);
    color: var(--bright);
}
/*Employer dashboard----*/
.side-bar{
    background-color: var(--slate);
}
.job-show h2{

    font-size: 18px;
    color: var(--junior);
    font-weight: 700;
}
.job-show small{
    font-size: 16px;
    margin: 4px;
    font-weight: 500;
    color: var(--primary);
}
.tags{
    background-color: var(--slate);
}
.hiring{
    background-color: var(--slate);
}
.hiring-company{
    background-size: 10px 10px;
    /*background-image: radial-gradient(circle, #d1d5d3 0.5px, rgba(0, 0, 0, 0) 1px);*/
}
.pagination{
    background: none !important;
}
.page-link{

    border:1px solid var(--primary);
    color: var(--primary) !important;
    font-weight: 700;
    font-size: 18px;
    margin: 4px;
    border-radius: 3px;
    width: 40px;
}
.active-page{
    background-color: var(--primary);
    color: white !important;

}
.active-page:hover,.page-link:hover{
    color: white !important;
    background-color: var(--junior)!important;
    border:1px solid var(--junior)
}
.small-desc small{
    font-size: 15px;
    margin: 5px;
    font-weight: 500;
    color: var(--primary);
}

.cookie{
    background-color: var(--primary);
    color: white;

}
.cookie p{
    font-size: 18px;
    color: white;
}
.btn-cookie{
    color: var(--primary);
    border: 1px solid white;
    background-color: white;
    font-weight: 600;
    border-radius: 0px;
    width: 150px;
}
/*-------------Blog----------*/
.blog-intro h1{
    color: black;
    font-size: 34px;
    font-weight:800;
    font-family: 'Lato';
}

.blog-intro h6{
    color:  var(--junior);
    font-size: 14px;
}
 .blog-intro h2{
    font-weight:800;
    font-family: 'Lato';
    color:  black;
    font-size: 28px;
 }
.curved{
    border-radius: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.curved:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


 .post-card h2{
    font-weight:800;
    font-family: 'Lato';
    color:  black;
    font-size: 20px !important;
 }

 .post-card h6{
    color:  var(--junior);
    font-size: 14px;
 }
 .post-card:hover h2{
     text-decoration: underline;
 }
 .post-card p{
     color: black;
 }
 .find-jobs{
     background-color: var(--teal);
 }
.find-jobs .btn-outline-primary{
    border-radius: 0px;
    border: 2px solid;
}
 .find-jobs h6{
    font-weight: 800;
    font-size: 100px;
    font-family: 'Lato' !important;
    color: black;
}

.posts h2{
    font-weight:800;
    font-family: 'Lato';
    color:  black;
    font-size: 24px;
}
.posts h2:hover{
    text-decoration: underline;
}

.posts h6{

    font-family: 'Assistant';

    font-size: 14px;
}
.post h1{
    font-family: 'Lato';
    font-weight: 800 !important;
}
.post-content{
    font-size: 20px;
    line-height: 35px;
}
.writer-detail{
    background-color: var(--teal);
    border-left:2px solid var(--junior)




}
.review a h5{
    color: black;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 800;
    text-decoration: underline;

}
.summary{
    background-color: var(--slate);
    padding: 20px;
    border-left: 2px solid var(--junior);
}
.review a:hover h5{
    color: var(--senior);
}

/*******job card*****/
.job-location{
    background-color: rgba(25, 114,120, 0.2);
    font-weight: bold;
    color: var(--dark);
    font-family: 'Lato';
    border-radius: 2px;
    font-size: 14px;
}
.job-title a h2{
    color: var(--junior);
    font-weight: 900;
    font-family: 'Lato';
    font-size: 17px;
}
.job-link{
    text-decoration: underline !important;
}
.filter-bar{
    background-color: var(--teal);
    padding: 20px;
}

.filter-bar h2{
    font-size: 18px;
    font-weight: 900;
}

.filter-input{
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    color: black;
    margin-left: 0px !important;

}

.search-input input[type=search]{
    border: 2px solid rgba(17, 17, 17, 0.3) !important;
    height: 50px !important;
    border-radius: 0px !important;
    font-size: 16px;
    color: black;
    font-weight: 600;

}
.search-input input[type=search]::placeholder{
    font-size: 16px;
    color: black;
    font-weight: 600 !important;
}

.search-input .btn-primary{
    border-radius: 0px;
    height: 50px;
    width: 60px;
    border: 2px solid var(--junior) !important;
    background-color: var(--junior);
}
.result-para{
    color: black !important;
}

.save-job{
    color:  var(--bright);
    cursor: pointer;
}
.spin{
    color: var(--junior);
    font-size: 14px !important;
}
.about-post{
    color: var(--junior) !important;
}
.ads{
    height: 120px !important;
}
.subscribe-user{
    background-color: var(--primary);
}
.subscribe-user .btn-dismiss{
    color: white !important;

    font-size: 24px;

}
.subscribe-user h2{
    color: white;
    letter-spacing: 1px;
    font-family: 'Lato';
}
.subscribe-user hr{
   opacity: 1 !important;
   height: 5px;
   width: 18%;
   background-color: white;
}
.subscribe-user p{
    color: white;
    font-size: 18px;
}
.post-content a{
    text-decoration: none;
    font-weight: bold;
    color: var(--junior);
}

.post-content p{

    font-size: 18px;

}
/*------------Search Page----------------*/
.search-result h2{
    color: var(--junior)
}
.search-result a{
    text-decoration: none;
}
.search-result a:hover{
    text-decoration: underline;
}
.company-link{
    color: var(--dark);
}



/*------------------Dasgboard-body----*/
.dashboard-body{
    background-color: #ebecf0;

}

.dashboard-body .card{
    border: 0px;
}
.dashboard-body .card .card-header{
    background-color: white;
}
.dashboard-body h2{
    font-weight: 900;
    font-family: 'Lato';
}

.cv-panel{
    background-color: var(--slate);
}
.profile-icon{
    margin-right: 8px !important;

}

.dotted{
    background: none;
    opacity: 1 !important;
    border-top: 0.1px dashed var(--junior);

}
.skills-set{
    background-color: var(--secondary);
    color: white;
}
.pointed{
    cursor: pointer;
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}
/*--------------Professional CV------------*/
.resume-header{
    background-color:var(--slate);
}
.resume-header .card{
 border: 0px;
    border-radius: 10px;
}
.resume-header .card .card-header{
    border-bottom: 0px;
    padding-top: 20px;
    background-color: var(--secondary);
}
.resume-header .card .card-header h6{
    color: white;
    font-size: 23px;
    font-family: 'Assistant';
    font-weight: bold;
}
.resume-header .card .card-body h5{
    font-weight: bold;
    font-size: 36px;
    font-family: 'Assistant';
    color: var(--junior);
}
.resume-header .card .card-body ul li{
    font-weight: 600;
    font-size: 16px;
}

.scale{
    background-color: var(--teal);
}

.testimony h2{
    font-size: 32px;
    font-family: 'Assistant';
    font-weight: 600;

}

.test-card{
    background-color: var(--teal);
    min-height: 300px;

}
.test-card h5{
    font-size: 24px;
    font-family: 'Assistant';
    font-weight: bold;
}
.test-card p{
    color: black;
    font-size: 18px;
}
.test-card p span{
    font-size: 24px;
    font-family: 'Assistant';
    font-weight: bold;
}
.rating-resume{
    background: var(--teal);
}
.written h2{
    color: var(--junior);
    font-family: 'Assistant';
    font-weight: 900;
    font-size: 48px;
}
.written p{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.numbers{

    font-family: 'Assistant';
    font-weight: 900;
    font-size: 30px;
}
.cart p{
    color: black;
    font-size: 18px;
}
.cart h1{
    font-family: 'Assistant';
}
.cart-summary{
    background-color: var(--slate);
}

.opinion{
    background-color: var(--teal);
}
.rating{
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }

  .rating {
    --dir: right;
    --fill: var(--junior);
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }

  /* NO JS */
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }
.conversion{
    background-color: var(--teal);
}

.conversion h2{
    font-weight: 900;
    font-family: 'Assistant';
    font-size: 40px;
}

.conversion h5{
    font-size: 24px;
    font-weight: 600;
    color:var(--junior);
    font-family: 'Assistant';
}
.conversion ul li{
    color:var(--junior);
    font-weight: 600;
    margin-left: 15px;
    font-size: 22px;
    margin-top: 5px;
}

