/* zen-kaku-gothic-antique-300 - latin */
@font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 300;
    src: url('zen-kaku-gothic-antique-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('zen-kaku-gothic-antique-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('zen-kaku-gothic-antique-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('zen-kaku-gothic-antique-v10-latin-300.svg#ZenKakuGothicAntique') format('svg'); /* Legacy iOS */
  }
  /* zen-kaku-gothic-antique-regular - latin */
  @font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 400;
    src: url('zen-kaku-gothic-antique-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('zen-kaku-gothic-antique-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('zen-kaku-gothic-antique-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('zen-kaku-gothic-antique-v10-latin-regular.svg#ZenKakuGothicAntique') format('svg'); /* Legacy iOS */
  }
  /* zen-kaku-gothic-antique-500 - latin */
  @font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 500;
    src: url('zen-kaku-gothic-antique-v10-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('zen-kaku-gothic-antique-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('zen-kaku-gothic-antique-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-500.woff') format('woff'), /* Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('zen-kaku-gothic-antique-v10-latin-500.svg#ZenKakuGothicAntique') format('svg'); /* Legacy iOS */
  }
  /* zen-kaku-gothic-antique-700 - latin */
  @font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 700;
    src: url('zen-kaku-gothic-antique-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('zen-kaku-gothic-antique-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('zen-kaku-gothic-antique-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('zen-kaku-gothic-antique-v10-latin-700.svg#ZenKakuGothicAntique') format('svg'); /* Legacy iOS */
  }
  /* zen-kaku-gothic-antique-900 - latin */
  @font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 900;
    src: url('zen-kaku-gothic-antique-v10-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('zen-kaku-gothic-antique-v10-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('zen-kaku-gothic-antique-v10-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-900.woff') format('woff'), /* Modern Browsers */
         url('zen-kaku-gothic-antique-v10-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('zen-kaku-gothic-antique-v10-latin-900.svg#ZenKakuGothicAntique') format('svg'); /* Legacy iOS */
  }

  /* assistant-regular - latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: url('assistant-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assistant-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assistant-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assistant-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assistant-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assistant-v16-latin-regular.svg#Assistant') format('svg'); /* Legacy iOS */
  }
  /* assistant-800 - latin */
  @font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 800;
    src: url('assistant-v16-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assistant-v16-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assistant-v16-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('assistant-v16-latin-800.woff') format('woff'), /* Modern Browsers */
         url('assistant-v16-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assistant-v16-latin-800.svg#Assistant') format('svg'); /* Legacy iOS */
  }
